<nav id="nav-bar">
    <a href="/" id="home-button" class="a-button nav-item">PHOTOBASE</a>

    <div id="right-align">
        <input id="search-text" class="nav-item" name="search-name" type="text" placeholder="search...">
        <i id="search-button" class="a-button fa-search nav-item">search</i>
        <a href="/postimage" id="post-button" class="a-button nav-item">Post</a>
        {{#if logged}}
        <a id="logout-button" class="a-button nav-item">Log Out</a>
        {{else}}
        <a href="/login" id="auth-button" class="a-button nav-item">Log In</a>
        {{/if}}
    </div>
</nav>

<script>
    function createCard(postData) {
        return `<a href="/post/${postData.id}" class="post-anchor">
                    <div id="post-${postData.id}" class="card">
                        <img class="image" src="${postData.thumbnail}" alt="Missing Image" />
                        <div class="card-info">
                            <div id="card-title">${postData.title}</div>

                            ${postData.description}
                            </br>
                        </div>
                    </div>
                </a>`;
    }
    function executeSearch() {
        let searchTerm = document.getElementById('search-text').value;
        if (!searchTerm) {
            location.replace('/');
            return;
        }
        let mainContent = document.getElementById('container');
        let searchURL = `/posts/search?search=${searchTerm}`;

        location.replace(searchURL);

        /*fetch(searchURL)
            .then((data) => {
                return data.json();
            })
            .then((data_json) => {
                let newMainContentHTML = '';
                data_json.results.forEach((row) => {
                    newMainContentHTML += createCard(row);
                });
                mainContent.innerHTML = newMainContentHTML;
                if(data_json.message) {
                    addFlashFromFrontEnd(data_json.message);
                }
            }) 
            .catch((err) => console.log(err));*/
    }

    let searchButton = document.getElementById('search-button');
    if (searchButton) {
        searchButton.onclick = executeSearch;
    }
</script>