<body>
    <nav id="nav-bar">
        <input id="search-text" name="search-name" type="text">
        <i id="text-bar-icon" class="fa-search nav-item"></i>
        <a href="/postimage" id="post-button" class="a-button nav-item">Post</a>

        {{#if logged}}
            <a id="logout-button" class="a-button nav-item">Log Out</a>
        {{else}}
            <a href="/login" id="auth-button" class="a-button nav-item">Log In</a>
        {{/if}}
    </nav>
</body>