<body>
    <h1>Login</h1>
    <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <div class="centered-flex">
            <fieldset>
                <label>Username</label>
                <input type="text" name="username" required />
                <br />

                <label class="pw">Password</label>
                <input type="password" class="inputpw" name="password" required />
                <br />

                <button type="submit">Log in</button>
                <div id="register-prompt">Don't have an account? <a href="\registration">Register</a></div>
            </fieldset>
        </div>
    </form>
</body>