<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <title>Login</title>
    <script type="text/javascript" src="path/to/file.js"></script>
</head>

<body>
    <header>
        <h1>Login</h1>
    </header>
    <form>
        <fieldset>
            <legend>Info</legend>
            <label>Username</label>
            <input type="text" />
            <br />

            <label class="pw">Password</label>
            <input type="password" class="inputpw"/>
            <br />
        </fieldset>

        <button type="submit">Login</button>
    </form>
</body>

</html>