<body>
    <header>
        <h1>Post Image</h1>
    </header>
    <form>
        <fieldset>
            <label>Title</label>
            <input type="text" />
            <br />

            <label>Description</label>
            <input type="text" />
            <br />

            <p>
                <button type="submit" id="selectimage"><img>Select Image</button>
                <em>[image.jpg]</em>
            </p>
            <br />
        </fieldset>

        <input type="checkbox" />
        <label>I accept Acceptable Use Policy</label>
        <br />

        <button type="submit">Post</button>
    </form>
</body>