<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <title>Post Image</title>
    <script type="text/javascript" src="path/to/file.js"></script>
</head>

<body>
    <header>
        <h1>Post Image</h1>
    </header>
    <form>
        <fieldset>
            <label>Title</label>
            <input type="text" />
            <br />

            <label>Description</label>
            <input type="text" />
            <br />

            <p>
            <button type="submit" id="selectimage" ><img>Select Image</button>
            <em>[image.jpg]</em>
            </p>
            <br />
        </fieldset>

        <input type="checkbox" />
        <label>I accept Acceptable Use Policy</label>
        <br />

        <button type="submit">Post</button>
    </form>
</body>

</html>