<body>
    <h1>Post Image</h1>
    <form id="create-post" method="POST" enctype="multipart/form-data" action="/posts/createPost">
        <div class="centered-flex">
            <fieldset>
                <label>Title</label>
                <input type="text" name="title" required/>
                <br />

                <label>Description</label>
                <input type="text" name="description"/>
                <br />

                <label>Select Image</label>
                <input id="img-select" type="file" name="uploadImage" required />
                <br />

                <div class="check-field">
                    <input type="checkbox" class="checkbox"/> I accept <a href="">Acceptable Use Policy</a>
                </div>
                <br />

                <button type="submit">Post</button>
            </fieldset>
        </div>
    </form>
</body>