<body>
    <h1>Post Image</h1>
    <form>
        <div class="centered-flex">
            <fieldset>
                <label>Title</label>
                <input type="text" />
                <br />

                <label>Description</label>
                <input type="text" />
                <br />

                <p>
                    <button type="submit" id="selectimage"><img>Select Image</button>
                    <em>[image.jpg]</em>
                </p>
                <br />

                <div class="check-field">
                    <input type="checkbox" class="checkbox"/> I accept Acceptable Use Policy
                </div>
                <br />

                <button type="submit">Post</button>
            </fieldset>
        </div>
    </form>
</body>