<body onload="setReqs()">
    <header>
        <h1>Registration Form</h1>
    </header>
    <form onsubmit="return checkForm(event);">
        <fieldset>
            <legend>Information</legend>
            <label>Username</label>
            <input type="text" id="user" required />
            <ul id='userreqs'>
                <li id="userlength">Username must consist of at least 3 letters and numbers</li>
                <li id="startwchar">Username must start with a letter</li>
            </ul>
            <br />

            <label>Email</label>
            <input type="email" required />
            <br />

            <label class="pw">Password</label>
            <input type="password" class="inputpw" id="pass1" required />
            <ul id='passreqs'>
                <li id="passlength">Password must consist of at least 8 characters</li>
                <li id="containsupper">Password must contain at least 1 uppercase letter</li>
                <li id="containsnum">Password must contain at least 1 number</li>
                <li id="containsspec">Password must contain at least 1 special character: ( / * - + ! @
                    # $ ^ & )</li>
            </ul>
            <br />

            <label class="pw">Confirm Password</label>
            <input type="password" class="inputpw" id="pass2" required />
            <ul id="passmat">
                <li id="passmatches">Passwords must match</li>
            </ul>
            <br />
        </fieldset>

        <input type="checkbox" id="old" required />
        <label>I am 13 years old or older</label>
        <br />

        <input type="checkbox" id="privacy" required />
        <label>I accept TOS and Privacy Rules</label>
        <br />
        <a href="">TOS and Privacy Rules</a>
        <br />

        <button type="submit">Register</button>
    </form>
</body>