<body onload="setReqs()">
    <h1>Create an Account</h1>
    <form onsubmit="return checkForm(event);" method="POST" action="/users/register"
        enctype="application/x-www-form-urlencoded">
        <div class="centered-flex">
            <fieldset>
                <label>Username</label>
                <input type="text" id="user" name="username" required />
                <ul id='userreqs'>
                    <li id="userlength">Username must consist of at least 3 letters and numbers</li>
                    <li id="startwchar">Username must start with a letter</li>
                </ul>
                <br />

                <label>Email</label>
                <input type="email" name="email" required />
                <br />

                <label class="pw">Password</label>
                <input type="password" class="inputpw" id="pass1" name="password" required />
                <ul id='passreqs'>
                    <li id="passlength">Password must consist of at least 8 characters</li>
                    <li id="containsupper">Password must contain at least 1 uppercase letter</li>
                    <li id="containsnum">Password must contain at least 1 number</li>
                    <li id="containsspec">Password must contain at least 1 special character: ( / * - + ! @
                        # $ ^ & )</li>
                </ul>
                <br />

                <label class="pw">Confirm Password</label>
                <input type="password" class="inputpw" id="pass2" name="cpassword" required />
                <ul id="passmat">
                    <li id="passmatches">Passwords must match</li>
                </ul>
                <br />

                <div class="check-field">
                    <input class="checkbox" type="checkbox" id="old" required/> I am 13 years old or older
                </div>

                <div class="check-field">
                    <input class="checkbox" type="checkbox" id="privacy" required/> I accept 
                    <a href="">TOS and Privacy Rules</a>
                </div>
                <br />

                <button type="submit">Register</button>
            </fieldset>
        </div>
    </form>
</body>