html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    padding: 18px;
}

header, footer {
    background-color: #282838;
    color: #ffda6b;
    overflow: hidden;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
    height: 14px;
}

#page-wrap {
    min-height: 100%;
    margin-bottom: -14px;
}

#push {
    height: 14px;
}

body {
    background-color: #303043;
    color: #f0f8ff;
    height: 95%;
}

#nav-bar {
}

.nav-item {
    
}

#home-button {
    border-radius: 16px;
    border: 3.5px solid;
    padding: 4px 6px;
    float: left;
    font-weight: bolder;
}

#home-button:hover {
    background-color: #282838;
    border: 3.5px solid #ffda6b;
    color: #ffda6b;
}

#search-text {
    background-color: #323246;
    color: #f0f8ff;
    height: 1.75em;
    width: 250px;
    border: 1px solid #55556e;
    margin: 5px 0;
    font: 12px "Times New Roman";
}

#right-align {
    float: right;
}

.a-button {
    border-radius: 4px;
    border: 1px solid #ffda6b;
    padding: 4px 6px;
    text-decoration: none;
}

.a-button:visited {
    color: #ffda6b;
}

.a-button:hover {
    background-color: #ffda6b;
    color: #282838;
}

#gallery-body {
  color: #9f9470;
}

#container {
    display: grid;
    /* grid-template-rows: repeat(2,1fr); */
    /* grid-template-columns: repeat(6,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: .5em;
    margin-bottom: 20px;
    width: 90%;
}

.image {
    min-width: 200px;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.card {
    background-color: #28283b;
    color: #ffeab0;
    border: 3px solid;
    border-radius: 2px;
    /* border-color: #9f9470; */
    border-color: #28283b;
    opacity: 1;
    min-width: 200px;
}

.title {
    padding: 6px;
    text-align: center;
}

.card-info {
    padding: 6px;
}

#card-title {
    text-decoration: underline;
}

.post-anchor {
    text-decoration: none;
}

.grid-container {
    display: grid;
    height: 80vh;
    margin: 20px auto auto auto;
}

#post {
    /* background-color: #28283b; */
    border-radius: 12px;
    margin: 30px;
    /* margin-top: 0px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#post-user {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px auto;
    cursor: pointer;
}

#post-div {
    color: #f0f8ff;
    border: 1px solid #7c7a75;
    /* border-radius: 4px; */
    padding: 5px;
    padding-right: 1px;
}

#post-title {
    font-size: 1.5em;
    padding-bottom: 5px;
    float: left;
    /* transform: translate(0.7%, 0%); */
}

#post-date {
    float: right;
}

h1 {
    text-align: center;
    color: #f0f8ff; 
    font: 20px sans-serif;
    font-weight: bold;
}

.centered-flex {
    display: flex;
    justify-content: center;
}

fieldset {
    border-radius: 4px;
    border: 1px solid #ffda6b;
    width: 25%;
    padding-top: 25px;
    margin: 10px;
}

ul {
    color: #c0c0e0;
    display: none;
}

legend {
    font: 1.5em serif;
}

fieldset input {
    width: 100%;
    background-color: #323246;
    color: #f0f8ff;
    height: 1.75em;
    border: 1px solid #55556e;
    margin: 5px 0;
}

.checkbox {
    width: auto;
}

.check-field {
    font-size: 12px;
}

button, .button, button:visited, .button:visited {
    background-color: #303043;
    border: 1px solid #f0f8ff;
    border-radius: 3px;
    color: #f0f8ff;
    padding: 4px 6px;
    margin-top: 8px;
    text-decoration: none;
    float: left;
}

button:hover, .button:hover {
    background-color: #3d310a;
    border-color: #ffda6b;
    color: #f0f8ff;
}

#register-prompt {
    float: right;
    font-size: smaller;
    margin-top: 18px;
}

a:link {
    color: #f0f8ff;
}

a:visited {
    color: #e9d9a8;
}

a:hover {
    color: #a0d0f8;
}

#selectimage {
    text-align: center;
    background-color: #323246;
    color: #f0f8ff;
    display: inline-block;
    border: 2px solid #55556e;
}

.alert-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.alert {
    padding: 4px 6px;
    color: #f0f8ff;
    opacity: 80%;
    position: relative;
    z-index: 10;
}

.alert-back {
    border-radius: 15px;
    opacity: 33%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.alert-danger {
    background-color: #f01010;
}

.alert-success {
    background-color: #10f010;
}

#flash-message {
    opacity: 0%;
    position: fixed;
    left: 50%;
    top: 4%;
    border-radius: 4px;
    transform: translate(-50%, 0);
}

#flash-message div {
    text-align: center;
}